.About {
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
    width:44%;
    margin-left:25%
    }
 
  .nameAbout{
    justify-content: center;
    text-justify: justify;

  }